<div class="navbar-lewagon">
  <%= image_tag "Cocktail-1988-movie-logo.png",
                 alt: "1988 movie Cocktail logo",
                 width: 96 %>
  <div>
    <%= link_to "Browse cocktails",
                cocktails_path,
                class: "btn btn-main"%>
  </div>
</div>

<% if @cocktail.photo.attached? %>
  <div class="banner-cocktail d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key %>')">
    <div class="container">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
<% else %>
  <div class="banner-cocktail d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_tag "cocktail-placeholder.jpg" %>')">
    <div class="container">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
<% end %>
<ul>

<%# ini cocktail-details %>
<div class="container mt-5 d-flex justify-content-between">
  <%# ini ingredients %>
  <div class="list-ingredients">
    <% @cocktail.doses.each do |dose| %>
    <div class="my-2 py-2">
      <%= "#{dose.description} #{dose.ingredient.name.downcase}"%>
      <%= link_to "(delete)", 
                  dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "link-delete"%>
    </div>
    <% end %>
  </div>
  <%# end ingredients %>
  <%# ini description and buttons %>
  <div>
    <%= link_to "Add ingredient",
                new_cocktail_dose_path(@cocktail),
                class: "mt-2 btn btn-secondary"%>
  </div>
  <%# end description and buttons %>
</div>
<%# end cocktail-details %>